In [1]:
import os
import pandas as pd
import geopandas as gpd

pd.set_option("display.max_columns", 200)
pd.set_option("display.width", 160)

DATA_RAW = os.path.join("..", "data", "raw")
DATA_PROCESSED = os.path.join("..", "data", "processed")

PATH_NTA_ZIP = os.path.join(DATA_RAW, "nta", "nyc_nta_2020.zip")
PATH_BUILT_BASELINE = os.path.join(DATA_PROCESSED, "nta_built_baseline.parquet")

PATH_POP_RAW = os.path.join(DATA_RAW, "population", "nyc_population_nta_2000_2010.csv")

print("NTA zip exists:", os.path.exists(PATH_NTA_ZIP), PATH_NTA_ZIP)
print("Built baseline exists:", os.path.exists(PATH_BUILT_BASELINE), PATH_BUILT_BASELINE)
print("Population CSV exists:", os.path.exists(PATH_POP_RAW), PATH_POP_RAW)

NTA zip exists: True ..\data\raw\nta\nyc_nta_2020.zip
Built baseline exists: True ..\data\processed\nta_built_baseline.parquet
Population CSV exists: True ..\data\raw\population\nyc_population_nta_2000_2010.csv

In [3]:
nta = gpd.read_file(f"zip://{PATH_NTA_ZIP}")

print("nta shape:", nta.shape)
print("nta CRS:", nta.crs)
print("nta columns:")
for c in nta.columns:
    print(" ", c)

print("\nnta dtypes:")
print(nta.dtypes)

nta.head(5)

nta shape: (262, 12)
nta CRS: EPSG:4326
nta columns:
  borocode
  boroname
  countyfips
  nta2020
  ntaname
  ntaabbrev
  ntatype
  cdta2020
  cdtaname
  shape_leng
  shape_area
  geometry

nta dtypes:
borocode       float64
boroname        object
countyfips      object
nta2020         object
ntaname         object
ntaabbrev       object
ntatype         object
cdta2020        object
cdtaname        object
shape_leng     float64
shape_area     float64
geometry      geometry
dtype: object

,borocode,boroname,countyfips,nta2020,ntaname,ntaabbrev,ntatype,cdta2020,cdtaname,shape_leng,shape_area,geometry
0,3.0,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28919.561151,3.532181e+07,"POLYGON ((-73.93213 40.72816, -73.93238 40.727..."
1,3.0,Brooklyn,047,BK0102,Williamsburg,Wllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28134.082661,2.885285e+07,"POLYGON ((-73.95814 40.7244, -73.95772 40.7242..."
2,3.0,Brooklyn,047,BK0103,South Williamsburg,SWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),18250.280091,1.520896e+07,"POLYGON ((-73.95024 40.70547, -73.94984 40.705..."
3,3.0,Brooklyn,047,BK0104,East Williamsburg,EWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),43184.800376,5.226741e+07,"POLYGON ((-73.92406 40.71411, -73.92404 40.714..."
4,3.0,Brooklyn,047,BK0201,Brooklyn Heights,BkHts,0,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,14312.192285,9.982023e+06,"POLYGON ((-73.99236 40.68969, -73.99436 40.690..."

In [5]:
nta_built = gpd.read_parquet(PATH_BUILT_BASELINE)

print("nta_built shape:", nta_built.shape)
print("nta_built CRS:", nta_built.crs)
print("nta_built columns:", list(nta_built.columns))
print("\nnta_built dtypes:")
print(nta_built.dtypes)

nta_built.head(5)

nta_built shape: (262, 11)
nta_built CRS: {"$schema": "https://proj.org/schemas/v0.7/projjson.schema.json", "type": "ProjectedCRS", "name": "NAD83 / New York Long Island (ftUS)", "base_crs": {"name": "NAD83", "datum": {"type": "GeodeticReferenceFrame", "name": "North American Datum 1983", "ellipsoid": {"name": "GRS 1980", "semi_major_axis": 6378137, "inverse_flattening": 298.257222101}}, "coordinate_system": {"subtype": "ellipsoidal", "axis": [{"name": "Geodetic latitude", "abbreviation": "Lat", "direction": "north", "unit": "degree"}, {"name": "Geodetic longitude", "abbreviation": "Lon", "direction": "east", "unit": "degree"}]}, "id": {"authority": "EPSG", "code": 4269}}, "conversion": {"name": "SPCS83 New York Long Island zone (US survey foot)", "method": {"name": "Lambert Conic Conformal (2SP)", "id": {"authority": "EPSG", "code": 9802}}, "parameters": [{"name": "Latitude of false origin", "value": 40.1666666666667, "unit": "degree", "id": {"authority": "EPSG", "code": 8821}}, {"name": "Longitude of false origin", "value": -74, "unit": "degree", "id": {"authority": "EPSG", "code": 8822}}, {"name": "Latitude of 1st standard parallel", "value": 41.0333333333333, "unit": "degree", "id": {"authority": "EPSG", "code": 8823}}, {"name": "Latitude of 2nd standard parallel", "value": 40.6666666666667, "unit": "degree", "id": {"authority": "EPSG", "code": 8824}}, {"name": "Easting at false origin", "value": 984250, "unit": {"type": "LinearUnit", "name": "US survey foot", "conversion_factor": 0.304800609601219}, "id": {"authority": "EPSG", "code": 8826}}, {"name": "Northing at false origin", "value": 0, "unit": {"type": "LinearUnit", "name": "US survey foot", "conversion_factor": 0.304800609601219}, "id": {"authority": "EPSG", "code": 8827}}]}, "coordinate_system": {"subtype": "Cartesian", "axis": [{"name": "Easting", "abbreviation": "X", "direction": "east", "unit": {"type": "LinearUnit", "name": "US survey foot", "conversion_factor": 0.304800609601219}}, {"name": "Northing", "abbreviation": "Y", "direction": "north", "unit": {"type": "LinearUnit", "name": "US survey foot", "conversion_factor": 0.304800609601219}}]}, "scope": "Engineering survey, topographic mapping.", "area": "United States (USA) - New York - counties of Bronx; Kings; Nassau; New York; Queens; Richmond; Suffolk.", "bbox": {"south_latitude": 40.47, "west_longitude": -74.26, "north_latitude": 41.3, "east_longitude": -71.8}, "id": {"authority": "EPSG", "code": 2263}}
nta_built columns: ['NTACode', 'NTAName', 'boroname', 'geometry', 'nta_area_sqft', 'building_count', 'total_footprint_sqft', 'median_building_sqft', 'nta_area_sqmi', 'built_sqft_per_sqmi', 'built_area_ratio']

nta_built dtypes:
NTACode                   object
NTAName                   object
boroname                  object
geometry                geometry
nta_area_sqft            float64
building_count           float64
total_footprint_sqft     float64
median_building_sqft     float64
nta_area_sqmi            float64
built_sqft_per_sqmi      float64
built_area_ratio         float64
dtype: object

,NTACode,NTAName,boroname,geometry,nta_area_sqft,building_count,total_footprint_sqft,median_building_sqft,nta_area_sqmi,built_sqft_per_sqmi,built_area_ratio
0,BK0101,Greenpoint,Brooklyn,"POLYGON ((1003059.997 204572.025, 1002991.367 ...",3.532174e+07,5147.0,1.340080e+07,1248.021588,1.266993,1.057685e+07,0.379392
1,BK0102,Williamsburg,Brooklyn,"POLYGON ((995851.916 203199.332, 995969.193 20...",2.885280e+07,3646.0,1.037733e+07,1334.824761,1.034952,1.002687e+07,0.359665
2,BK0103,South Williamsburg,Brooklyn,"POLYGON ((998047.21 196303.325, 998157.901 196...",1.520896e+07,2294.0,5.418461e+06,1408.694795,0.545546,9.932172e+06,0.356268
3,BK0104,East Williamsburg,Brooklyn,"POLYGON ((1005302.497 199455.73, 1005307.792 1...",5.226747e+07,4939.0,1.745002e+07,1354.539352,1.874838,9.307485e+06,0.333860
4,BK0201,Brooklyn Heights,Brooklyn,"POLYGON ((986367.736 190549.239, 985813.836 19...",9.982088e+06,1492.0,3.913004e+06,1358.771123,0.358058,1.092840e+07,0.392003

In [6]:
pop_long = pd.read_csv(PATH_POP_RAW)

print("pop_long shape:", pop_long.shape)
print("pop_long columns:", list(pop_long.columns))
print("\nDtypes:")
print(pop_long.dtypes)

pop_long.head(10)

pop_long shape: (390, 6)
pop_long columns: ['Borough', 'Year', 'FIPS County Code', 'NTA Code', 'NTA Name', 'Population']

Dtypes:
Borough             object
Year                 int64
FIPS County Code     int64
NTA Code            object
NTA Name            object
Population          object
dtype: object

  Borough  Year  FIPS County Code NTA Code                                         NTA Name Population
0   Bronx  2000                 5     BX01                               Claremont-Bathgate     28,149
1   Bronx  2000                 5     BX03                  Eastchester-Edenwald-Baychester     35,422
2   Bronx  2000                 5     BX05                       Bedford Park-Fordham North     55,329
3   Bronx  2000                 5     BX06                                          Belmont     25,967
4   Bronx  2000                 5     BX07                                        Bronxdale     34,309
5   Bronx  2000                 5     BX08                           West Farms-Bronx River     34,542
6   Bronx  2000                 5     BX09  Soundview-Castle Hill-Clason Point-Harding Park     50,753
7   Bronx  2000                 5     BX10              Pelham Bay-Country Club-City Island     27,140
8   Bronx  2000                 5     BX13                                       Co-Op City     40,676
9   Bronx  2000                 5     BX14                 East Concourse-Concourse Village     58,961

In [15]:
pop_long = pd.read_csv(PATH_POP_RAW, dtype=str)
pop_long.columns = [c.strip().lower().replace(" ", "_") for c in pop_long.columns]

# format changes 
pop_long["year"] = pd.to_numeric(pop_long["year"], errors="coerce").astype("Int64")
pop_long["nta_code"] = pop_long["nta_code"].astype(str).str.strip()

pop_long["population_raw"] = pop_long["population"]
pop_long["population"] = (
    pop_long["population"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.replace("\u00a0", "", regex=False)     # just in case
    .str.strip()
)
pop_long["population"] = pd.to_numeric(pop_long["population"], errors="coerce")

print("Null population rows:", pop_long["population"].isna().sum())

pop_long.head(10)

Null population rows: 0

  borough  year fips_county_code nta_code                                         nta_name  population population_raw
0   Bronx  2000              005     BX01                               Claremont-Bathgate       28149         28,149
1   Bronx  2000              005     BX03                  Eastchester-Edenwald-Baychester       35422         35,422
2   Bronx  2000              005     BX05                       Bedford Park-Fordham North       55329         55,329
3   Bronx  2000              005     BX06                                          Belmont       25967         25,967
4   Bronx  2000              005     BX07                                        Bronxdale       34309         34,309
5   Bronx  2000              005     BX08                           West Farms-Bronx River       34542         34,542
6   Bronx  2000              005     BX09  Soundview-Castle Hill-Clason Point-Harding Park       50753         50,753
7   Bronx  2000              005     BX10              Pelham Bay-Country Club-City Island       27140         27,140
8   Bronx  2000              005     BX13                                       Co-Op City       40676         40,676
9   Bronx  2000              005     BX14                 East Concourse-Concourse Village       58961         58,961

In [18]:
pop_compare = (
    pop_long
    .pivot_table(index="nta_code", columns="year", values="population", aggfunc="sum")
    .reset_index()
    .rename(columns={2000: "pop_2000", 2010: "pop_2010"})
)

pop_compare["pop_change_00_10"] = pop_compare["pop_2010"] - pop_compare["pop_2000"]
pop_compare["pop_pct_change_00_10"] = pop_compare["pop_change_00_10"] / pop_compare["pop_2000"]
pop_compare.columns.name = None

print("pop_compare shape:", pop_compare.shape)
pop_compare.head(10)

pop_compare shape: (195, 5)

  nta_code  pop_2000  pop_2010  pop_change_00_10  pop_pct_change_00_10
0     BK09     22548     22887               339              0.015035
1     BK17     64596     64518               -78             -0.001208
2     BK19     35244     35547               303              0.008597
3     BK21     34267     31965             -2302             -0.067178
4     BK23     17370     17750               380              0.021877
5     BK25     45679     44316             -1363             -0.029839
6     BK26     29257     29436               179              0.006118
7     BK27     28572     29931              1359              0.047564
8     BK28     84640     88727              4087              0.048287
9     BK29     58566     62978              4412              0.075334

In [ ]:
PATH_NTA_ZIP = os.path.join("..", "data", "raw", "nta", "nyc_nta_2020.zip")
nta_gdf = gpd.read_file(f"zip://{PATH_NTA_ZIP}")

#standardize and check match
nta_cols = {c: c.lower() for c in nta_gdf.columns}
nta_gdf = nta_gdf.rename(columns=nta_cols)

print("NTA columns:", list(nta_gdf.columns))

# new keys for joins
nta_gdf["nta2020"] = nta_gdf["nta2020"].astype(str).str.strip()
nta_gdf["nta_prefix4"] = nta_gdf["nta2020"].str[:4]

pop_compare["nta_code"] = pop_compare["nta_code"].astype(str).str.strip()

pop_keys = set(pop_compare["nta_code"].unique())
nta_prefix_keys = set(nta_gdf["nta_prefix4"].unique())

matched = pop_keys & nta_prefix_keys
missing_in_nta = sorted(pop_keys - nta_prefix_keys)
extra_in_nta = sorted(nta_prefix_keys - pop_keys)

print("Population distinct NTA codes:", len(pop_keys))
print("NTA geometry distinct prefixes:", len(nta_prefix_keys))
print("Matched keys:", len(matched))
print("Population keys missing in NTA geometry:", len(missing_in_nta))

print("\nExamples missing (first 20):", missing_in_nta[:20])

example = next(iter(matched)) if len(matched) else None
if example:
    print(f"\nExample mapping for {example}:")
    display(
        nta_gdf.loc[nta_gdf["nta_prefix4"] == example, ["nta2020", "ntaname", "boroname"]]
        .sort_values("nta2020")
        .head(20)
    )

NTA columns: ['borocode', 'boroname', 'countyfips', 'nta2020', 'ntaname', 'ntaabbrev', 'ntatype', 'cdta2020', 'cdtaname', 'shape_leng', 'shape_area', 'geometry']
Population distinct NTA codes: 195
NTA geometry distinct prefixes: 71
Matched keys: 30
Population keys missing in NTA geometry: 165

Examples missing (first 20): ['BK19', 'BK21', 'BK23', 'BK25', 'BK26', 'BK27', 'BK28', 'BK29', 'BK30', 'BK31', 'BK32', 'BK33', 'BK34', 'BK35', 'BK37', 'BK38', 'BK40', 'BK41', 'BK42', 'BK43']

Example mapping for BK17:

   nta2020                       ntaname  boroname
54  BK1701         East Flatbush-Erasmus  Brooklyn
55  BK1702        East Flatbush-Farragut  Brooklyn
56  BK1703           East Flatbush-Rugby  Brooklyn
57  BK1704  East Flatbush-Remsen Village  Brooklyn
58  BK1771           Holy Cross Cemetery  Brooklyn

In [ ]:
import re

def clean_name(s: str) -> str:
    if s is None:
        return ""
    s = str(s).lower().strip()
    s = re.sub(r"&", "and", s)
    s = re.sub(r"[^a-z0-9]+", "", s)  # remove spaces/punct
    return s

# Build a geometry table where 2020 NTAs roll up to 4-char prefixes (BK19, MN05, etc.)
nta_base = nta_gdf.copy()

nta_base["nta_prefix4"] = nta_base["nta2020"].astype(str).str.strip().str[:4]
nta_base["ntaname_clean"] = nta_base["ntaname"].apply(clean_name)
nta_base["boroname_clean"] = nta_base["boroname"].astype(str).str.lower().str.strip()


nta_base_dissolved = (
    nta_base.dissolve(by="nta_prefix4", as_index=False, aggfunc={
        "boroname": "first",
        "boroname_clean": "first",
    })
)

# attach a representative name for each prefix (most common cleaned name)
name_lookup = (
    nta_base.groupby("nta_prefix4")["ntaname_clean"]
    .agg(lambda x: x.value_counts().index[0] if len(x) else "")
    .reset_index()
)

nta_base_dissolved = nta_base_dissolved.merge(name_lookup, on="nta_prefix4", how="left")

print("Base geometry prefixes:", nta_base_dissolved.shape[0])
nta_base_dissolved.head()

Base geometry prefixes: 71

  nta_prefix4                                           geometry  boroname boroname_clean          ntaname_clean
0        BK01  POLYGON ((-73.93213 40.72816, -73.932 40.72815...  Brooklyn       brooklyn             greenpoint
1        BK02  POLYGON ((-73.9641 40.68105, -73.96436 40.6811...  Brooklyn       brooklyn        brooklynheights
2        BK03  POLYGON ((-73.92751 40.6926, -73.92707 40.6923...  Brooklyn       brooklyn  bedfordstuyvesantwest
3        BK04  POLYGON ((-73.89661 40.68201, -73.89667 40.681...  Brooklyn       brooklyn           bushwickwest
4        BK05  MULTIPOLYGON (((-73.88847 40.6469, -73.88846 4...  Brooklyn       brooklyn           cypresshills

In [22]:
pop_keys = pop_compare.copy()

# if can use nta_name + borough available earlier then use
# If pop_compare only has nta_code, rebuild a pop_name table from pop_long first.
pop_name = (
    pop_long.dropna(subset=["nta_code"])
    .sort_values(["nta_code"])
    .groupby("nta_code")
    .agg({
        "nta_name": "first",
        "borough": "first",
    })
    .reset_index()
)

pop_name["ntaname_clean"] = pop_name["nta_name"].apply(clean_name)
pop_name["boroname_clean"] = pop_name["borough"].astype(str).str.lower().str.strip()

pop_compare2 = pop_compare.merge(pop_name[["nta_code","ntaname_clean","boroname_clean"]], on="nta_code", how="left")

# match nta_code == nta_prefix4 OR name+borough match
m1 = pop_compare2.merge(
    nta_base_dissolved[["nta_prefix4", "ntaname_clean", "boroname_clean", "geometry"]],
    left_on=["nta_code"],
    right_on=["nta_prefix4"],
    how="left",
    suffixes=("", "_nta"),
)

matched_direct = m1["geometry"].notna().mean()
print("Match rate (direct code->prefix):", matched_direct)

m2 = pop_compare2.merge(
    nta_base_dissolved[["nta_prefix4", "ntaname_clean", "boroname_clean", "geometry"]],
    on=["ntaname_clean", "boroname_clean"],
    how="left",
)

matched_name = m2["geometry"].notna().mean()
print("Match rate (name+borough):", matched_name)

missing = m2.loc[m2["geometry"].isna(), ["nta_code","ntaname_clean","boroname_clean"]].head(25)
print("\nExamples still missing after name+borough match:")
print(missing)

Match rate (direct code->prefix): 0.15384615384615385
Match rate (name+borough): 0.1282051282051282

Examples still missing after name+borough match:
   nta_code                             ntaname_clean boroname_clean
0      BK09                 brooklynheightscobblehill       brooklyn
1      BK17    sheepsheadbaygerritsenbeachmanhattnbch       brooklyn
2      BK19                             brightonbeach       brooklyn
3      BK21                        seagateconeyisland       brooklyn
4      BK23                              westbrighton       brooklyn
5      BK25                                 homecrest       brooklyn
6      BK26                                 gravesend       brooklyn
7      BK27                                 bathbeach       brooklyn
8      BK28                           bensonhurstwest       brooklyn
9      BK29                           bensonhursteast       brooklyn
10     BK30                              dykerheights       brooklyn
12     BK32                            sunsetparkwest       brooklyn
13     BK33       carrollgardenscolumbiastreetredhook       brooklyn
14     BK34                            sunsetparkeast       brooklyn
15     BK35                         stuyvesantheights       brooklyn
16     BK37                          parkslopegowanus       brooklyn
17     BK38  dumbovinegarhilldowntownbrklynboerumhill       brooklyn
18     BK40                            windsorterrace       brooklyn
19     BK41                    kensingtonoceanparkway       brooklyn
21     BK43                                   midwood       brooklyn
22     BK44                                   madison       brooklyn
23     BK45  georgetownmarineparkbergenbeachmillbasin       brooklyn
24     BK46                         oceanparkwaysouth       brooklyn
25     BK50                                  canarsie       brooklyn
27     BK60            prospectleffertsgardenswingate       brooklyn

In [23]:
borough_pop = (
    pop_long
    .groupby(["borough", "year"], as_index=False)["population"]
    .sum()
)

borough_pop.pivot(index="borough", columns="year", values="population")

year              2000     2010
borough
Bronx          1332650  1385108
Brooklyn       2465326  2504700
Manhattan      1537195  1585873
Queens         2229379  2230722
Staten Island   443728   468730

In [24]:
borough_pop_compare = (
    borough_pop
    .pivot(index="borough", columns="year", values="population")
    .reset_index()
    .rename(columns={2000: "pop_2000", 2010: "pop_2010"})
)

borough_pop_compare["pop_change_00_10"] = (
    borough_pop_compare["pop_2010"] - borough_pop_compare["pop_2000"]
)

borough_pop_compare["pop_pct_change_00_10"] = (
    borough_pop_compare["pop_change_00_10"] / borough_pop_compare["pop_2000"]
)

borough_pop_compare

year        borough  pop_2000  pop_2010  pop_change_00_10  pop_pct_change_00_10
0             Bronx   1332650   1385108             52458              0.039364
1          Brooklyn   2465326   2504700             39374              0.015971
2         Manhattan   1537195   1585873             48678              0.031667
3            Queens   2229379   2230722              1343              0.000602
4     Staten Island    443728    468730             25002              0.056345